<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>D³个人图标字体项目（长期补充更新）</title>
	<link rel="stylesheet" href="ilb/iconfont/D3III16glBasic/iconfont.css">
	<link rel="stylesheet" href="ilb/iconfont/D3III16gfBasic/iconfont.css">
	<link rel="stylesheet" href="ilb/iconfont/D3III20glBasic/iconfont.css">
	<link rel="stylesheet" href="ilb/iconfont/D3III20gfBasic/iconfont.css">
	<link rel="stylesheet" href="ilb/iconfont/D3III24glBasic/iconfont.css">
	<link rel="stylesheet" href="ilb/iconfont/D3III24gfBasic/iconfont.css">
	<link rel="stylesheet" href="ilb/iconfont/D3III16glMobius/iconfont.css">
	<link rel="stylesheet" href="ilb/css/style.css">
	<script src="ilb/js/vue2517.js"></script>
	<script src="ilb/iconfont/D3III16glBasic/iconfont.js"></script>
	<script src="ilb/iconfont/D3III16gfBasic/iconfont.js"></script>
	<script src="ilb/iconfont/D3III20glBasic/iconfont.js"></script>
	<script src="ilb/iconfont/D3III20gfBasic/iconfont.js"></script>
	<script src="ilb/iconfont/D3III24glBasic/iconfont.js"></script>
	<script src="ilb/iconfont/D3III24gfBasic/iconfont.js"></script>
	<script src="ilb/iconfont/D3III16glMobius/iconfont.js"></script>
	<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>
<body>
	<div id="app" v-cloak>
		<header class="nav fb">
			<div class="fb ali_ite_cen">
				<div class="logo"></div>
				<h1>D³个人图标字体项目（长期补充更新）</h1>
			</div>
			<ul class="tab fb">
				<li v-for="(item, index) in tabs" :key="item.id" :class="isActive === index ? 'active' : ''" @click="checkItem(index)">{{ item.text }}</li>
			</ul>
			<div :class="changeArrow">
				<div class="f1"></div>
				<select class="" name="" id="" v-model="iconfontSize" @change="changeIconfontSize(iconfontSize)" @click="changeFocus(isFocus=!isFocus)">
					<option v-for="(item, index) in iconfontSizes" :key="item.index" :value="item">{{ `${item*10}px` }}</option>
				</select>
			</div>
		</header>
		<iconfont :iconfontlists="lists" :grid="grid" :istyle="iconfontStyle"></iconfont>
		<footer>Copyright 2018-2019 © by D³</footer>
	</div>
	<template id="iconfont">
		<div>
			<div class="iconfont" v-for="item in iconfontlists" :key="item.id">
				<h3>{{ item.title }}</h3>
				<ul class="fb fle_wra">
					<li class="" v-for="item in item.content" :key="item.id">
						<svg class="icon" aria-hidden="true" :style="istyle">
							<use :xlink:href="`#icon-${grid}-${item.name}`"></use>
						</svg>
						<div class="explain">
							<div class="name">{{ `${grid}-${item.name}` }}</div>
							<!-- <div class="unicode-name">{{ item.codename }}</div> -->
							<!-- <div class="fontClass-name">{{ `.icon-${grid}-${item.name}` }}</div> -->
							<!-- <div class="symbol-name">{{ `#icon-${grid}-${item.name}` }}</div> -->
							<div class="tag">{{ item.tag }}</div>
						</div>
						
					</li>
				</ul>
			</div>
		</div>

	</template>
	<script src="ilb/js/index.js"></script>
</body>
</html>
