html, body, div, p, h1, h2, h3, h4, h5, h6, header, nav, aside, article, section, footer, ul, ol, li, form, input, textarea, label, fieldset, legend, select, option, img, a, span, strong, em, hr, marquee, svg {
	margin: 0;
	padding: 0;
	box-sizing: -webkit-border-box;
	box-sizing: -moz-border-box;
	box-sizing: -0-border-box;
	box-sizing: -ms-border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.2rem;
	font-family: Verdana, Arial, "微软雅黑", "宋体";
	line-height: 1em;
	color: #666;
	background-color: #fafafc;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 1.8rem;
	font-family: "微软雅黑";
	line-height: 1.2em;
	font-weight: normal;
	color: #333;
}
p {
	line-height: 1.8em;
}
ul, ol {
	list-style: none outside;
	font-size: 1.4rem;
}
a, img, fieldset {
	border: 0 none;
	color: #666;
}
img {
	vertical-align: top;
}
input {
	outline: 0 none;
}
select {
	outline: 0 none;
	border: none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
select::-ms-expand {
	display: none;
}
a {
	outline: 0 none;
	text-decoration: none;
}
strong {
	font-weight: normal;
}
em {
	font-style: normal;
}
/*flexbox弹性盒子*/
.fb {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
/*flex*/
.f1 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.f2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-ms-flex: 2;
	-webkit-flex: 2;
	flex: 2;
}
.f3 {
	-webkit-box-flex: 3;
	-moz-box-flex: 3;
	-ms-flex: 3;
	-webkit-flex: 3;
	flex: 3;
}
.f4 {
	-webkit-box-flex: 4;
	-moz-box-flex: 4;
	-ms-flex: 4;
	-webkit-flex: 4;
	flex: 4;
}
.f5 {
	-webkit-box-flex: 5;
	-moz-box-flex: 5;
	-ms-flex: 5;
	-webkit-flex: 5;
	flex: 5;
}
.fAuto {
	-webkit-box-flex: auto;
	-moz-box-flex: auto;
	-ms-flex: auto;
	-webkit-flex: auto;
	flex: auto;
}
/*align-items (适用于父类容器上)
设置或检索弹性盒子元素在侧轴（纵轴）方向上。
align-items: flex-start | flex-end | center | baseline | stretch*/
.ali_ite_cen {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.ali_ite_str {
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	-webkit-align-items: stretch;
	align-items: stretch;
}
/*align-content (适用于父类容器上)
设置或检索弹性盒堆叠伸缩行的对齐方式。
align-content: flex-start | flex-end | center | space-between | space-around | stretch*/
.ali_con_spa {
	-ms-flex-line: justify;
	-webkit-align-content: space-between;
	align-content: space-between;
}
/*justify-content (适用于父类容器上)
设置或检索弹性盒子元素在主轴（横轴）方向上的对齐方式。
justify-content: flex-start | flex-end | center | space-between | space-around*/
.jus_con_cen {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.jus_con_spa {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
/*flex-direction (适用于父类容器的元素上)
设置或检索伸缩盒对象的子元素在父容器中的位置。
flex-direction: row | row-reverse | column | column-reverse*/
.fle_dir_col {
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
/*flex-wrap (适用于父类容器上)
设置或检索伸缩盒对象的子元素超出父容器时是否换行。
flex-wrap: nowrap | wrap | wrap-reverse*/
.fle_wra {
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
/*order (适用于弹性盒模型容器子元素)
设置或检索弹性盒模型对象的子元素出現的順序。
order: <integer>*/
.ord1 {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;  
	-ms-flex-order: 1;
 	-webkit-order: 1;
  	order: 1;
}
.ord2 {
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;  
	-ms-flex-order: 2;
 	-webkit-order: 2;
  	order: 2;
}
.ord3 {
	-webkit-box-ordinal-group: 3;
	-moz-box-ordinal-group: 3;  
	-ms-flex-order: 3;
 	-webkit-order: 3;
  	order: 3;
}

#app {
	margin: 20px;
}
[v-cloak] {
	display: none;
}
.nav {
	border-bottom: 2px solid #f1f3f7;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.95);
	padding: 0 20px;
}
.nav h1 { 
	font-size: 1.4rem;
	font-weight: bold;
	/*overflow: hidden;
	text-overflow:ellipsis;*/
	min-width: 128px;
}
.logo {
	min-width: 40px;
	min-height: 40px;
	background: url('../img/LOGO.jpg') center center no-repeat;
	background-size: contain;
	border-radius: 50%;
	margin: 0 10px 0 0;
}
.changeSize {
    position: relative;
}
.changeSize::before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	right: 0;
	/*transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);*/
	border-top: 4px solid #c3c6cc;
	border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
}
.changeSize.focus::before {
	border-top: 4px solid #999;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.changeSize select {
	height: 32px;
	width: 80px;
	padding: 0 10px;
	cursor: pointer;
	color: #999;
	transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    direction: rtl;
}
.changeSize option {
	direction: ltr;
}
.changeSize select:hover, .changeSize select:focus {
	color: #333;
}
.tab {
	margin: 0 20px 0 40px;
}
.tab li {
	height: 60px;
	line-height: 60px;
	padding: 0 1em;
	/*margin: 0 1em;*/
	color: #999;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	text-overflow:ellipsis;
}
.tab li::before {
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #e6d2ab;
	transform: scale(0, 1);
	-webkit-transform: scale(0, 1);
	transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
}
.tab li:hover {
	color: #666;
	/*border-bottom: 2px solid #e6d2ab;*/
}
.tab li.active {
	color: #333;
	font-weight: bold;
	/*border-bottom: 2px solid #e6d2ab;*/
}
.tab li.active::before {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}
.iconfont {
  margin-top: 100px;
}
.iconfont h3 {
	font-size: 1.6rem;
	margin: 40px 10px 20px;
}
.iconfont li {
	padding: 10px;
	margin: 10px;
	/*background-color: #fff;*/
	line-height: 1.3em;
	font-size: 1.2rem;
	text-align: center;
	border-radius: 8px;
	/*min-width: 120px;*/
	width: 140px;
	/*height: 100px;*/
	color: #5c5c66;
	position: relative;
	cursor: pointer;
	transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
}
.iconfont li:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 8px;
	background-color: #fff;
	z-index: -1;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.iconfont li:hover {
	/*box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);*/
	/*background-color: #e6d2ab;*/
	color: #fff;
	/*color: #e6d2ab;*/
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	transform-origin: center bottom;
	-webkit-transform-origin: center bottom;
}
.iconfont li:hover::before {
	border: 2px solid #e6d2ab;
	background-color: #e6d2ab;
	box-shadow: 0 0 30px 0 rgba(230, 210, 171, .25);
}
/*.iconfont li:hover::after {
	content: '';
	width: 100%;
	height: 64px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #e6d2ab;
}*/
.iconfont li div {
	padding: 0.25em;
	color: #999;
}
.iconfont li:hover div {
	/*color: #e6d2ab;*/
	color: #fff;
}
.explain{
	/*text-align: left;*/
}
.icon {
	width: 1em;
	height: 1em;
	/*vertical-align: -0.15em;*/
	fill: currentColor;
	overflow: hidden;
	font-size: 3.2rem;
	margin: 10px;
	z-index: 9999;
}
.icon:hover {
	/*font-size: 4.8rem;*/
}
.tag {
	/*display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;*/

	/*overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width: 10em;*/
}
.tag:hover {
	/*overflow: visible;
 	text-overflow: inherit;	*/

 }
footer {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 20px 0;
	color: #c3c6cc;
}
