* {
	margin: 0;
	padding: 0;
	font-size: 14px; 
}
#app {
	margin: 20px;
}
table {
	width: 100%;
	text-align: center;
	line-height: 1.5em;
	border-collapse: collapse;
}
thead {
	font-weight: bold;
	border-bottom: 1px solid #f1f3f7;
}
th, td {
	padding: 10px;
	min-height: 48px;
}
tbody tr:nth-child(odd) {
	background-color: #fafbfd;
}
tbody tr:hover {
	background-color: #f7f8fa;
}
tbody tr:active {
	background-color: #f4f5f7;
}
.link {
	cursor: pointer;
	color: #999;
}
.link:hover {
	color: #666;
}
.link:active {
	color: #333;
}
input {
	width: 240px;
	height: 36px;
	border: 1px solid #dcdfe5;
	padding: 0 1em;
	margin: 20px 20px 20px 0;
	border-radius: 2px;
}
input:hover {
	border-color: #c3c6cc;
}
[v-cloak] {
	display: none;
}


/*动画*/
